@keyframes buttonClick {
    0%{
        background-color: #007CF8;
        border: 1px solid #007CF8;
    }
    50%{
        background-color: blue;
        border: 1px solid blue;
    }
    100%{
        background: none;
        border: 1px solid white;
    }
}
.consultButton{
    display: flex;
    align-items: center;
    align-self: center;
    z-index: 10;
    justify-content: center;
    font-family: 'Nunito Sans', Courier, monospace;
    font-size: 1.5vw;
    font-weight: 500;
    letter-spacing: 0.1vw;
    color: white;
    width: 30vw;
    height: 5vw;
    padding: 1svh 2vw;
    border: 1px solid white;
    text-transform: uppercase;
    background: none;
    transition: 0.8s;
    cursor: pointer;
    text-align: center;
    border-radius: 12px;
}
.consultButton:hover{
    background-color: #007CF8;
    border: 1px solid #007CF8;
}
.consultButton:active{
    background-color: blue;
    border: 1px solid blue;
}

@media (max-width:800px) {
    .consultButton{
        width: 70vw;
        font-weight: 500;
        margin-left: 10vw;
        border-radius: 12px;
        border-width: 2px;
        margin-bottom: 5svh;
        height: 7svh;
        font-size: 4vw;
    }
    .consultButton:active{
        background-color: #007CF8;
        color:white;
    }
}