.block {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-left: 7vw;
    width: 88vw;

    div {
        max-width: 80vw;
        font-family: 'Nunito Sans', sans-serif;
        .modalComponent {
            max-width: 100vw;
        }
    }

    .modalComponent {
        max-width: 100vw;
    }

    row-gap: 2svh;
    margin-bottom: 10svh;
}

.whyUsIcon {
    width: 1.6vw;
    height: 1.6vw;
}

.whyUsItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.2vw;
    line-height: 2vw;
    column-gap: 1vw;
    padding-left: 1vw;
    h2{
        margin:0;
    }
    *{
        font-family: 'Gilroy', sans-serif;
    }
    h3{
        max-width: 80vw;
        margin: 0;
        font-weight: 300;
    }
}

.whyUsIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
}

.whyUsItemSeo{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.whyUsHeading {
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 2svh;
}

.seoParagraph {
    display: flex;
    flex-direction: column;
}

.paragraphHead {
    font-size: 1.5vw;
    font-weight: 700;
    margin-bottom: 2svh;
}

.paragraphText {
    padding-left: 1vw;
    font-size: 1.1vw;
    line-height: 3svh;
}

.serviceSeoBlock {
    display: flex;
    flex-direction: column;
    padding-left: 7vw;
    width: 88vw;
}

.serviceSeoHeading {
    font-size: 1.6vw;
    margin: 0;
    margin-top: 2svh;
    margin-bottom: 2svh;
    font-weight: 700;
}

.serviceSeoText {
    margin: 0;
    font-size: 1.2vw;
    font-weight: 400;
}

.serviceSeoLine {
    margin: 1svh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1vw;
}

.serviceSeoCircle {
    width: 0.8vw;
    height: 0.8vw;
    border: 1px solid #1a1a1a;
    background-color: #007CF8;
    border-radius: 50%;
}

.serviceSeoColumns {
    margin-top: 5svh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.serviceWhyUs{
    margin-top: 5svh;
}

@media (max-width: 900px) {
    .block {
        div {
            max-width: 90vw;
        }
    }

    .paragraphText {
        width: 100%;
        row-gap: 0;
        line-height: normal;
        font-size: 3vw;
        font-weight: 300;
    }

    .paragraphHead {
        font-size: 3vw;
        font-weight: 400;
    }

    .whyUsHeading {
        font-size: 3vw;
        font-weight: 400;
    }

    .whyUsItem {
        font-size: 2.5vw;
        line-height: normal;
        font-weight: 300;
    }

    .whyUsIcon {
        width: 3vw;
        height: 3vw;
    }



    .serviceSeoBlock {
        display: flex;
        flex-direction: column;
        padding-left: 7vw;
        width: 88vw;
    }

    .serviceSeoHeading {
        font-size: 3.2vw;
        margin: 0;
        margin-top: 2svh;
        margin-bottom: 2svh;
        font-weight: 500;
    }

    .serviceSeoText {
        margin: 0;
        font-size: 3vw;
        font-weight: 300;
    }

    .serviceSeoLine {
        margin: 2svh 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 2vw;
    }

    .serviceSeoCircle {
        width: 3vw;
        height: 3vw;
        min-width: 3vw;
        min-height: 3vw;
        border: 1px solid #1a1a1a;
        background-color: #007CF8;
        border-radius: 50%;
    }

    .serviceSeoColumns {
        margin-top: 5svh;
        display: flex;
        flex-direction: column;
    }
    .serviceWhyUs{
        margin-top: 0;
    }
}