@keyframes textFromLeft {
    0% {
        transform: translateX(-80vw);
    }

    100% {
        transform: translateX(0);
    }
}

.block {
    width: 100vw;
    margin-bottom: 5svh;
    display: flex;
    flex-direction: column;
    z-index: 3;
    padding-top: 10svh;
    height: auto;
    max-height: max-content;
}

.articleContainer {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.article {
    display: flex;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2svh;
    font-size: 1.8vw;
    width: auto;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    transform: translateX(-80vw);
    animation: textFromLeft 1s forwards ease-out;
    animation-play-state: paused;
}

.modalHeading {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h2 {
        margin: 0;
    }
}

.headerMargin {
    width: 88vw;
    padding: 0 6vw;
    font-family: 'Nunito Sans', sans-serif;
}

@media (max-width: 900px) {
    .article {
        font-size: 5vw;
        z-index: 10;
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin: 0;
    }

    .block {
        height: max-content;
        max-height: none;
        padding: 0;
        margin-bottom: 0;
    }

    .articleContainer {
        margin-top: 5svh;
        height: 10svh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 10;
        h2 {
            margin: 0;
        }
    }
}