.servicesContainer{
    width: 85vw;
    display: flex;
    flex-direction: column;
    min-height:35svh;
    overflow: auto;
    overflow-x: hidden;
    background-color: #1a1a1a;
    border-radius: 21px;
    padding: 1svh;
}
.adminServiceItem{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(7,1fr);
    padding: 2svh 0;
    div{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color:white;
    }
}
.createServiceButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 5svh;
    font-family: 'Nunito Sans',sans-serif;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    word-spacing: 0.3vw;
    margin-bottom: 5svh;
    border-radius: 21px;
    background: none;
    color: white;
    cursor: pointer;
}

.modalComponent{
    position: fixed;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalStrContainer{
    display: flex;
    flex-direction: column;
    background-color: rgba(255,255,255,0.8);
    padding: 1vw;
    color: black;
    border-radius: 21px;
    border:none;
    width: 45vw;
    min-height: 40svh;
    height: auto;
    max-height: 85svh;
    *{
        font-family: 'Nunito Sans',sans-serif;
    }
    label{
        margin-top: 10svh;
        width: 90%;
        font-weight: 700;
        font-size: 1.5vw;
        margin-bottom: 2svh;
    }
    input{
        width: 80%;
        height: 5svh;
        padding: 1svh 1vw;
        color: white;
        background-color: #1a1a1a;
        border-radius: 21px;
        transition: 1s;
        font-family: 'Nunito Sans',sans-serif;
        letter-spacing: 0.1vw;
        font-weight: 400;
    }
    input:hover{
        box-shadow: 0px 2px 10px 3px #007cf8;
    }
    button{
        justify-self: flex-end;
        margin-top: 10svh;
        margin-bottom: 3svh;
        height: 5svh;
        width: 50%;
        align-self: center;
        border-radius: 21px;
        border: 1px solid #007cf8;
        background-color: #1a1a1a;
        color: white;
        transition: 1s;
        cursor: pointer;
    }
    button:hover{
        box-shadow: 0px 2px 10px 3px #007cf8;
    }
    textarea{
        width: 40vw;
        border: 1px solid #007cf8;
        height: 40svh;
        padding: 2vw;
        resize: none;
        color: white;
        background-color: #1a1a1a;
        border-radius: 21px;
        transition: 1s;
        font-family: 'Nunito Sans',sans-serif;
        letter-spacing: 0.1vw;
        font-weight: 400;
    }
    textarea:hover,textarea:focus{
        box-shadow: 1px 2px 12px 3px #007cf8;
    }
}

.createContainer{
    width: 70vw;
    height: 80svh;
    background-color: rgba(255,255,255,0.8);
    border-radius: 21px;
    padding: 3vw;
    *{
        color: black;
        font-family: 'Nunito Sans',sans-serif;
    }
}

.createInputs{
    display: grid;
    grid-template: repeat(auto-fill,15svh)/repeat(3,20vw);
    column-gap: 3vw;
    width: 85%;
    row-gap: 10svh;
    margin-top: 2svh;
}

.createInputPair{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    row-gap: 1svh;
    height: auto;
    min-height: 15svh;
    max-height: 17svh;
    textarea{
        resize: none;
        width: 20vw;
        height: 10svh;
        padding: 1vw;
        border-radius: 21px;
        background-color: #1a1a1a;
        color: white;

    }
    label{
        height: 5svh;
    }
    input{
        width: 20vw;
        height: 10svh;
        padding: 1vw;
        display: flex;
        border-radius: 21px;
        align-items: flex-start;
        background-color: #1a1a1a;
        color: white;
    }

}

.createSubmit{
    width: 15vw;
    height: 10svh;
    align-self: center;
    margin-top: 4svh;
    margin-left: 6svh;
    padding: 1.3vw;
    border: 1px solid #007cf8;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Nunito Sans',sans-serif;
    font-weight: 300;
    letter-spacing: 0.1vw;
    font-size: 1vw;
    cursor: pointer;
    border-radius: 9px;
    transition: 1s;
}

.createSubmit:hover{
    box-shadow: 0 0 5px 2px #007cf8;
    color: gray;
}

.metaComponent{
    position: fixed;
    z-index: 90;
    width: 100vw;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.metaContainer{
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    color: white;

}

.modalArrContainer{
    width: 40vw;
    height: auto;
    max-height: 90svh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255,255,255,0.8);
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    padding: 2vw;
    button{

    }
}
.modalArrContainer::-webkit-scrollbar{
    width:1px;
}

.modalArrPair{
    width: 100%;
    margin-bottom: 5svh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 5vw;
    input{
        background-color: #1a1a1a;
        border-radius: 21px;
        height: 5svh;
        width: 30vw;
        color: white;
        padding: 1svh 2vw;
        transition: 1s;
        outline: none;
        cursor: pointer;
    }
    input:hover{
        box-shadow: 0 0 12px 3px #007cf8;
    }
    button{
        width: 10vw;
        padding: 1vw;
        border: 1px solid black;
        color: white;
        background-color: #1a1a1a;
        font-family: 'Nunito Sans',sans-serif;
        font-size: 1vw;
        cursor:pointer;
        transition: 0.8s;
        border-radius: 21px;
        outline: none;
    }
    button:hover{
        box-shadow: 0 0 6px 2px red;
        color: red;
    }
    
}

.addServiceArrModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    row-gap: 2svh;
    margin-bottom: 5svh;
    input{
        width: 25vw;
        transition: 1s;
        outline: none;
        border-radius: 21px;
        padding: 2svh 2vw;
        color: white;
        background-color: #1a1a1a;
    }
    input:hover{
        box-shadow: 0 0 4px 3px #007cf8;
    }
    button{
        width: 10vw;
        padding: 1vw;
        border: 1px solid gray;
        color: white;
        cursor:pointer;
        background-color: #1a1a1a;
        font-family: 'Nunito Sans',sans-serif;
        font-size: 1vw;
        border-radius: 21px;
        transition: 0.8s;
    }
    button:hover{
        box-shadow: 0 0 5px 3px green;
        color: green;
    }
}