@keyframes fromBottom {
  0% {
    transform: translateY(-50svh);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes infiniteColors {
  0% {
    background: rgba(120, 120, 128, 0.16);
  }

  50% {
    background-color: #007cf8;
  }

  75% {
    background-color: #1a1a1a;
  }

  100% {
    background: rgba(120, 120, 128, 0.16);
  }
}

.title {
  font-size: 2.3vw;
  font-weight: 700;
  color: white;
  width: max-content;
  b {
    font-weight: 700;
  }
}

.subtitle {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 300;
  width: 48%;
}

.headText {
  display: flex;
  margin-top: 8svh;
  flex-direction: column;
  row-gap: 3svh;
  width: 100%;
  align-self: center;
  align-items: center;
  text-align: center;
}

.triangles {
  display: grid;
  z-index: 1;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 8svh;
  height: 100%;
  column-gap: 1vw;
  width: 100%;
  overflow: hidden;
}

.triangleLeft {
  display: flex;
  width: 80%;
  height: 100%;
  padding: 0;
  padding-top: 5svh;
  flex-direction: row;
  justify-content: flex-end;

  svg {
    padding: 0;
    display: flex;

    path {
      margin: 0;
    }
  }
}

.triangleRight {
  display: flex;
  width: 80%;
  height: 100%;
  padding: 0;
  padding-top: 5svh;
  flex-direction: row;
  justify-content: flex-start;

  svg {
    padding: 0;
    display: flex;

    path {
      margin: 0;
    }
  }
}

.headTriangleText {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 7vw;
  height: 18vw;
  font-family: "Nunito Sans", sans-serif;
  padding: 0vw 1svh;
}

.headTextSec {
  font-size: 1.1vw;
}

.headTextMain {
  font-weight: 700;
  font-size: 2.1vw;
  color: white;
  span {
    font-size: 1.3vw;
  }
}

.worthsContainer {
  display: grid;
  margin-top: 5svh;
  height: 40svh;
  grid-template-columns: repeat(4, 20vw);
  column-gap: 0.6vw;
  overflow: hidden;
}

.worthsItem {
  display: flex;
  flex-direction: column;
  height: 40svh;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(21px);
  -webkit-backdrop-filter: blur(21px);
  color: white;
  justify-content: center;
  align-items: center;

  * {
    font-family: "Gilroy Bold", sans-serif;
  }
}

.worthName {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5vw;
  margin-top: 3svh;
  text-align: center;
  margin-bottom: 5svh;
}

.worthDesc {
  font-size: 1vw;
  font-weight: 300;
  max-width: 80%;
  width: auto;
  text-align: center;
}

.worthIcon {
  width: 5vw;
  height: 5vw;
}

.consultBlock {
  width: 88vw;
  align-self: center;
  height: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: -10svh;

  div {
    font-family: "Nunito Sans", sans-serif;
  }
}

.consultTextBlock {
  position: absolute;
  left: 8vw;
  color: white;
  width: 60vw;
  justify-self: flex-start;
}

.consultBlockText {
  margin-top: 5svh;
}

.consultInputs {
  z-index: 9;
  width: 44vw;
  margin-top: 15svh;
  row-gap: 5svh;
  display: flex;
  flex-direction: column;

  button {
    background: rgba(120, 120, 128, 0.16);
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 0.08vw;
    padding: 2svh 1vw;
    font-size: 1vw;
    border-radius: 21px;
    border: none;
    outline: none;
    transition: 1s;
    color: white;
    width: 42vw;
    cursor: pointer;
    align-self: center;
  }

  button:active {
    background-color: #007cf8;
  }
}

.buttonActive {
  animation: 4s infiniteColors infinite ease-in-out;
}

.consultInputPair {
  display: flex;
  flex-direction: column;

  * {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
  }

  label {
    padding-left: 2.5vw;
    margin-bottom: 1svh;
  }

  input {
    border-radius: 21px;
    border: none;
    outline: none;
    padding: 1.4svh 2vw;
    align-self: center;
    width: 38vw;
    color: white;
    font-size: 1vw;
    background: rgba(120, 120, 128, 0.16);
  }

  textarea {
    padding: 2svh 1.5vw;
    align-self: center;
    width: 38vw;
    resize: none;
    height: 15svh;
    color: white;
    font-size: 1vw;
    border-radius: 21px;
    border: none;
    outline: none;
    background: rgba(120, 120, 128, 0.16);
  }
}

.consultBlockHeading {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: auto;
  max-width: 60vw;
  z-index: 11;
  line-height: 10svh;
  letter-spacing: 0.2vw;
  font-weight: 800;
  font-size: 3.2vw;
}

.triangleOne {
  width: 10vw;
  height: 20vw;
}

@media (max-width: 900px) {
  .headText {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;

    .title {
      text-align: start;
      width: 100%;
      align-self: flex-start;
      font-size: 5vw;
      color: white;
      font-family: "Gilroy", sans-serif;
    }

    .subtitle {
      font-size: 4vw;
      text-align: start;
      align-self: flex-start;
      width: 100%;
    }
  }

  .triangleOne {
    width: 70vw;
    height: 80vw;

    path {
      width: 70vw;
      height: 80vw;
    }
  }

  .triangleLeft {
    display: flex;
    flex-direction: row-reverse;
    width: 70vw;
    height: 80vw;

    .triangleOne {
      margin-right: 0;
      display: flex;
      transform: translateX(-11.5vw);
    }

    .headTriangleText {
      position: absolute;
      justify-self: flex-start;
      justify-content: flex-start;
      position: relative;
      transform: translateX(15vw) translateY(57vw);
      width: fit-content;

      .headTextMain {
        display: flex;
        align-items: center;
        column-gap: 2vw;
        flex-direction: row;
        width: fit-content;
        font-size: 8vw;

        span {
          font-size: 6vw;
        }
      }
    }
  }

  .headTriangleText {
    align-items: flex-end;
    width: auto;

    .headTextMain {
      width: auto;
      font-size: 7vw;

      span {
        font-size: 4.5vw;
      }
    }

    .headTextSec {
      font-size: 3vw;
    }
  }

  .triangleRight {
    width: 70vw;
    display: flex;
    flex-direction: row;
    height: 80vw;
    transform: translateX(0vw);

    .triangleOne {
      display: flex;
      flex-direction: row;
      transform: translateX(5vw);

      path {
        margin-left: 0;
      }
    }

    .headTriangleText {
      position: absolute;
      justify-self: flex-start;
      text-align: start;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      transform: translateX(21vw) translateY(1vw);

      * {
        text-align: start;
      }
    }
  }

  .worthsContainer {
    display: grid;
    margin-top: 3svh;
    align-self: center;
    min-height: 40svh;
    height: auto;
    max-height: max-content;
    min-width: 40svh;
    width: auto;
    max-width: max-content;
    margin-bottom: 5svh;
    grid-template-columns: repeat(2, 20svh);
    grid-template-rows: repeat(2, 22svh);
    align-content: center;
    grid-row-gap: -2vw;
    justify-content: center;
    overflow: hidden;
  }

  .worthsItem {
    display: flex;
    flex-direction: column;
    height: 20svh;
    width: 20svh;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    color: white;
    justify-content: center;
    align-items: center;

    * {
      font-family: "Nunito Sans", sans-serif;
    }
  }

  .worthName {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 3vw;
    margin-top: 2svh;
    text-align: center;
    margin-bottom: 1svh;
  }

  .worthDesc {
    font-size: 2vw;
    font-weight: 300;
    max-width: 80%;
    width: auto;
    text-align: center;
  }

  .worthIcon {
    width: 12vw;
    height: 12vw;
  }

  .aboutStagesFirstSVG {
    width: 60vw;
    height: 60vw;
  }

  .consultBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 5svh;
  }

  .consultTextBlock {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: flex-start;
    top: 0;
    left: 0;
    row-gap: 2svh;
    justify-content: flex-start;
    align-items: flex-start;
    transform: none;
    overflow: hidden;
    width: 70vw;

    * {
      font-size: 4vw;
    }
  }

  .consultBlockHeading {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: max-content;
    padding: 0;
    line-height: normal;
  }

  .consultBlockText {
    margin-top: 0;
    padding-left: 3vw;
    width: 100%;
  }

  .consultInputs {
    margin-top: 2svh;
    padding-left: 4vw;
    width: 84vw;
    row-gap: 2svh;

    * {
      width: 84vw;
      max-width: 84vw;
    }

    button {
      width: 89.1vw;
      max-width: 90vw;
      padding: 2svh 0;
      align-self: flex-start;
      font-size: 3vw;
      transform: translateX(-5vw);
    }
  }

  .consultInputPair {
    width: 80vw;
    align-items: flex-start;

    input {
      width: 77vw;
      height: 3svh;
      padding: 1.5svh 5vw;
      font-size: 3.5vw;
    }

    textarea {
      width: 80vw;
      font-size: 3.5vw;
      padding: 4vw;
    }
  }
  .mobilePaddingLeft {
    margin-left: 5vw;
  }
}
