.itemComponent{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 3fr 2fr 1.5fr;
    align-content: center;
    width: 80vw;
}
.itemColumn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    button{
        width: 10vw;
        height: 2.5vw;
        border-radius: 21px;
        background-color: rgba(0,0,0,0.3);
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        color: white;
        font-family: 'Gilroy', sans-serif;
        font-size: 1vw;
        cursor: pointer;
        transition: all 1s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button:hover{
        background-color: rgba(183, 183, 183, 0.3);
    }
}

.modalComponent{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 98;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    transform: translateX(99%) translateY(-99%);
}
.modalContainer{
    display: flex;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Gilroy', sans-serif;
    font-size: 1vw;
    flex-direction: column;
    border: 1px solid grey;

    row-gap: 3svh;
    padding: 2vw 3vw;
    border-radius: 8px;
}
.modalHeading{
    font-size: 1.5vw;
}
.workerInfo{
    display: flex;
    flex-direction: column;
    row-gap: 1svh;

    .modalHeading{
        margin-bottom: 2svh;
    }
}
.infoLine{
    color: gray;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2vw;
    label{
        font-size: 1.1vw;
        color: white;
        width: 10svw;
    }
}
.commentBlock{
    font-size: 1.3vw;
}
.comment{
    margin-top: 1svw;
    border-radius: 8px;
    width: 30svw;
    height: 10svw;
    font-size: 1vw;
    border: 1px solid gray;
    padding: 1svw;
    color: gray;
}
.fileBlock{
    display: flex;
    flex-direction: column;
    button{
        margin-top: 2svh;
        width: 10svw;
        height: 2svw;
        cursor: pointer;
    }
}