body {
    margin: 0;
    top: 0;
    left: 0;
    background-color: #1a1a1a;
    color: #d9d9d9;
    font-family: "Nunito", sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-size: cover;
    background-position: fixed;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nunito Sans', sans-serif;

    * {
        scroll-behavior: smooth;
    }
}

@media (max-width: 900px) {
    .bg-image-container {
        width: 100vw;
        height: 100lvh;
        top: 0;
        left: 0;
        position: fixed;
        z-index: -1;
    }

    .bg-image {
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        position: relative;
        overflow-y: auto;
        height: auto;
        top: 0;
        left: 0;
        background-color: #1a1a1a;
        color: #d9d9d9;
        font-family: "Nunito", sans-serif;
        overflow-x: hidden;
        scroll-behavior: smooth;
        background: none;

        * {
            z-index: 1;
        }
    }
}