.aboutPartnersContainer {
  width: 75vw;
  overflow: hidden;
  overflow-x: hidden;
  margin-top: 10svh;
  height: 20svh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  column-gap: 10vw;
}

.aboutPartnerItem {
  position: relative;
  width: 15vw;
  height: 8vw;
}

@media (max-width: 900px) {
  .aboutPartnersContainer {
    width: 80vw;
    overflow: hidden;
    margin-top: 0;
    overflow-x: hidden;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    column-gap: 0;
    row-gap: 0;
  }
  .aboutPartnerItem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .aboutPartnersImage {
      display: block;
      width: 35vw;
      height: 35vw;
      scale: 0.8;
    }
  }
}
