.titleMotionContainer {
    width: 25vw;
    padding-left: 7vw;
    height: 16svh;
    overflow: hidden;
}
.block{
    font-family: 'Nunito Sans',sans-serif;
    height: auto;
    max-height: max-content;
    z-index: 20;
}

.titleMotion {
    height: 32svh;
    width: 100%;
    display: flex;
}

.title {
    width: 25vw;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    height: 16svh;
    font-size: 2.2vw;
}

.list {
    margin-left: 7vw;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15vw;
    height: auto;
    margin-top: 5svh;
    max-height: none;
    row-gap: 5svh;
    align-items: center;
    margin-bottom: 40svh;
}

@media (max-width:800px) {
    .block{
        margin-bottom: 0;
        margin-top: 0;
        padding-top: 0;
    }
    .titleMotionContainer {
        width: fit-content;
        padding-left: 7vw;
        height: 16svh;
        overflow: hidden;
    }

    .titleMotion {
        height: 32svh;
        width: 100%;
        display: flex;
    }

    .title {
        width: fit-content;
        font-weight: 700;
        line-height: 5vw;
        font-family: 'Nunito Sans', sans-serif;
        height: 16svh;
        font-size: 4.5vw;
        margin-top: 0;
        padding-top: 0;
    }

    .list {
        margin-left: 10vw;
        margin-right: 5vw;
        width: 80vw;
        display: flex;
        align-self: center;
        column-gap: 10vw;
        align-items: center;
        overflow: auto;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
    }
}