.stagesContainer {
    margin-left: 7vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 80svh;
    color: white;
    overflow: hidden;
    justify-content: flex-start;
}

.stagesLeftLine {
    margin-top: 0;
    background-color: white;
    z-index: 5;
    width: 1px;
    height: 100%;
    margin-top: 3svh;
    position: relative;
    left: 1.1vw;
}

.stageItem {
    display: flex;
    z-index: 9;
    flex-direction: row;
    align-items: center;
    column-gap: 1vw;
}

.stagesList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.stageNum {
    border-radius: 50%;
    background-color: #1a1a1a;
    border: 1px solid #007CF8;
    width: 2vw;
    height: 2vw;
    font-size: 1.1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stageText {
    font-size: 1.4vw;
    font-weight: 400;
}

@media (max-width:800px) {
    .stagesContainer {
        margin-left: 7vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 70svh;
        margin-bottom: 5svh;
        overflow: hidden;
        justify-content: flex-start;
    }

    .stagesLeftLine {
        margin-top: 0;
        background-color: white;
        z-index: 5;
        width: 1px;
        height: 95%;
        margin-top: 1.5%;
        position: relative;
        left: 2.7vw;
        border-radius: 21px;
    }

    .stageItem {
        display: flex;
        z-index: 9;
        flex-direction: row;
        align-items: center;
        column-gap: 2vw;
    }

    .stagesList {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        z-index: 9;
        margin-bottom: 5svh;
    }

    .stageNum {
        border-radius: 50%;
        background-color: #1a1a1a;
        border: 1px solid #007CF8;
        width: 5vw;
        height: 5vw;
        font-size: 3.5vw;
        font-family: 'Gilroy', sans-serif;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .stageText {
        font-size: 4vw;
        font-family: 'Gilroy', sans-serif;
        font-weight: 100;
    }
}