.main {
    background-color: #1a1a1a;
    border-radius: 16px;
    padding: 1vw;
    display: flex;
    position: relative;
    box-shadow: 0 0 10px 1px gray;
    flex-direction: column;
    width: 20vw;
    align-items: center;
}

.imageContainer {
    width: 12vw;
    position: relative;
    height: 15vw;
    background-color: gray;
    transition: 1s;
    border-radius: 21px;

    img {
        width: 100%;
        border-radius: 21px;
        height: 100%;
        size: cover;
    }
}

.title {
    font-weight: 500;
    margin: 5svh 0;
    font-size: 1.3vw;
}

.button {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 1vw;
    transition: 1s;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}

.buttonText {
    opacity: 0;
    position: relative;
    display: none;
}

.main:hover {
    .buttonText {
        opacity: 1;
        display: block;
    }

    .button {
        width: 10vw;
        border-radius: 21px;
        border: none;
    }

    .imageContainer {
        transform: translateY(-30%);
    }
}
.text{
    width: 20vw;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
}

.itemIcon{
    width: 2vw;
    height: 2vw;
}

@media (max-width:800px) {
    .main {
        background-color: black;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        border-radius: 21px;
        padding: 0;
        display: flex;
        position: relative;
        box-shadow: none;
        flex-direction: row;
        width: 80vw;
        height: 80vw;
        align-items: center;
    }

    .imageContainer {
        width: 45vw;
        position: relative;
        height: 80vw;
        background: none;
        transition: 1s;
        border-radius: 21px;

        img {
            width: 45vw;
            border-radius: 21px;
            height: 80vw;
            size: cover;
        }
    }

    .title {
        font-weight: 500;
        font-size: 3vw;
        margin: 0;
        margin-bottom: 3vh;
        margin-top: 10svh;
    }

    .button {
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        column-gap: 1vw;
        transition: 1s;
        width: 8vw;
        height: 8vw;
        cursor: pointer;
    }

    .buttonText {
        opacity: 0;
        position: relative;
        display: none;
    }

    .main:hover {
        .buttonText {
            opacity: 1;
            display: none;
        }

        .button {
            width: 8vw;
            border-radius: 50%;
            border: none;
        }

        .imageContainer {
            transform: translateY(-30%);
        }
    }
    .text{
        width: 40vw;
        text-align: center;
    }
    .itemIcon{
        width: 5vw;
        height: 5vw;
    }
}