.component {
  padding-top: 5svh;
  margin-top: 0svh;
  background: none;
  z-index: all 2;
}

.container {
  height: 45svh;
  display: grid;
  grid-template-rows: 9fr 1fr;
  width: 88vw;
  overflow: hidden;
  padding: 1vw 6vw;
}

.footerContent {
  display: grid;
  overflow: hidden;
  width: 90%;
  grid-template-columns: 2fr 1fr 2fr;
  column-gap: 10vw;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nunito Sans", sans-serif;
  row-gap: 1vw;
}
.footerColumnLinkPages {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Nunito Sans", sans-serif;
  row-gap: 1vw;
}
@media (min-width: 900px) {
  .footerColumnLinkPages {
    display: flex;
  }
}
.footerTitle {
  display: flex;
  flex-direction: column;
  row-gap: 0vw;
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

.footerTitleName {
  color: #007cf8;
  -webkit-text-stroke: 0.3px black;
  font-weight: 800;
  margin: 0;
  margin-bottom: 2vw;
  font-family: "Nunito Sans", sans-serif;
  font-size: 3vw;
}

.footerTitle h6 {
  margin: 0;
  font-size: 1.5vw;
  font-weight: 300;
}

.footerSocialLinks {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
}

.footerSubtitle {
  font-size: 1.5vw;
  text-align: start;
  font-weight: 500;
}

.footerLink {
  text-align: start;
  cursor: pointer;
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  min-width: 2vw;
  width: fit-content;
  max-width: 10vw;
  font-size: 1.5vw;
  font-weight: 300;
  font-family: "Nunito Sans", sans-serif;
}

.footerLink:hover {
  .linkUnderline {
    width: 100%;
  }
}

.linkUnderline {
  width: 0;
  transition: 1s;
  align-self: center;
  margin-top: 0.8svh;
  height: 1px;
  background-color: white;
}

.footerDown {
  display: flex;
  flex-direction: row;
  column-gap: 5vw;
}

.contactItem {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  color: white;
  text-decoration: none;

  a {
    text-decoration: none;
    color: white;
  }
}

.footerSocialLinks {
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  margin-top: 1vw;
}

.footerSocialLink {
  text-decoration: none;
  color: #007cf8;
  background-color: white;
  padding: 0.6vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  margin-left: 3.5vw;
}

.footerSocialIcon {
  width: 2vw;
  height: 2vw;
}

.contactItemIcon {
  width: 2vw;
  height: 2vw;
  color: white;
}

.policyLink {
  text-decoration: none;
  font-size: 1.1vw;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  color: white;
}

@media (max-width: 900px) {
  .component {
  }

  .container {
    height: auto;
    display: grid;
    grid-template-rows: 9fr 1fr;
    width: 88vw;
    overflow: hidden;
    padding: 1vw 6vw;
  }

  .footerContent {
    display: flex;
    overflow: hidden;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }

  .footerColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    row-gap: 1vw;

    * {
      width: auto;
      max-width: 100%;
      text-align: center;
    }
  }

  .footerTitle {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 100%;
    align-items: center;
    row-gap: 0vw;
    font-family: "Nunito Sans", sans-serif;
    color: white;
  }

  .footerTitleName {
    color: blue;
    -webkit-text-stroke: 0px;
    font-weight: 800;
    max-width: 100%;
    margin: 0;
    margin-bottom: 2vw;
    font-family: "Nunito Sans", sans-serif;
    font-size: 5vw;
  }

  .footerTitle h6 {
    margin: 0;
    font-size: 4vw;
    max-width: 100%;
    text-align: center;
    font-weight: 100;
  }

  .footerSocialLinks {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    margin-bottom: 3vw;
  }

  .footerSocialLink {
    width: 7vw;
    height: 7vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
  }

  .footerSocialIcon {
  }

  .footerSubtitle {
    font-size: 5vw;
    text-align: start;
    color: white;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
  }

  .footerLink {
    text-align: start;
    cursor: pointer;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 2vw;
    width: fit-content;
    max-width: 10vw;
    font-size: 4vw;
    font-weight: 500;
    font-family: "Gilroy", sans-serif;
  }

  .footerLink:hover {
    .linkUnderline {
      width: 100%;
    }
  }

  .linkUnderline {
    width: 0;
    transition: 1s;
    align-self: center;
    margin-top: 0.8svh;
    height: 1px;
    background-color: white;
  }

  .footerDown {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    margin-top: 2vw;
    width: 100%;
    justify-content: space-around;
    font-size: 2vw;
  }

  .contactItem {
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    align-self: center;
    align-items: center;
    max-width: max-content;
    justify-content: center;
    width: 100%;
    color: white;
    font-size: 4vw;
    font-weight: 400;
    font-family: "Gilroy", sans-serif;
    cursor: pointer;
    span {
      align-self: center;
      width: max-content;
      color: white;
      text-decoration: none;
      -webkit-tap-highlight-color: color;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }

  .contactItemIcon {
    width: 3vw;
    color: white;
    height: 3vw;
  }

  .footerSocialIcon {
    width: 6vw;
    height: 6vw;
  }

  .logoContainer {
    padding-top: 2svh;
    align-self: center;
    width: max-content;
  }

  .policyLink {
    font-size: 3vw;
  }
}
