.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.modalTitle {
  font-size: 2vw;
  white-space: nowrap;
} 
@media(max-width: 900px){
  .modalTitle {
  font-size: 2svh;
} 
}