.pageHeading {
    display: flex;
    flex-direction: column;
    padding: 1vw 7vw;
}

.officesContainer {
    display: grid;
    margin-top: 5svh;
    width: 50vw;
    grid-template-columns: repeat(2, 1fr);
    align-self: center;
    column-gap: 10vw;

    h2 {
        font-size: 1.4vw;
        font-weight: 600;
    }
}

.contactOfficeItem {
    display: flex;
    flex-direction: column;
    height: 40svh;
    row-gap: 1svh;
}

.contactOfficeLine {
    display: flex;
    flex-direction: row;
    column-gap: 1.5vw;
    align-items: center;
    cursor: default;

    h3 {
        font-weight: 400;
        font-size: 1vw;
    }
}

.socialLinks {
    margin-top: 5svh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 5vw;
}

.socialBlock {
    align-self: center;
}

.socialLink {
    background-color: white;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactOfficeIcon{
    cursor: pointer;
    width: 2.5vw;
    height: 2.5vw;
}

.socialLinkIcon{
    width:2.2vw;
    height: 2.2vw;
}

@media (max-width:800px) {
    .pageHeading {
        display: flex;
        flex-direction: column;
        padding: 1vw 7vw;
    }

    .officesContainer {
        display: grid;
        margin-top: 5svh;
        width: 90vw;
        grid-template-columns: repeat(2, 1fr);
        align-self: center;
        column-gap: 5vw;

        h2 {
            font-size: 4vw;
            font-weight: 700;
            margin: 0;
            margin-bottom: 2svh;
        }
    }

    .contactOfficeItem {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-height: 10svh;
        height: 20svh;
        row-gap: 2svh;
        justify-content: center;
    }

    .contactOfficeLine {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: default;
        width: 100%;
        h3 {
            margin: 0;
            font-weight: 100;
            font-size: 3vw;
        }
    }

    .socialLinks {
        margin-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 5vw;
    }

    .socialBlock {
        align-self: center;
        margin-bottom: 5svh;
        h2{
            font-size: 5svw;
        }
    }

    .socialLink {
        background-color: white;
        border-radius: 50%;
        width: 15vw;
        height: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contactOfficeIcon{
        width: 5vw;
        height: 5vw;
    }
    .socialLinkIcon{
        width: 7vw;
        height: 7vw;
    }
}